venv
venv/
.env
db.sqlite3
.idea
__pycache__
*.pyc
CandidCameraDashboard/main/tmp_cache_files
!CandidCameraDashboard/main/tmp_cache_files/.gitkeep
CandidCameraDashboard/main/tmp_cache_files/picamera_photos
!CandidCameraDashboard/main/tmp_cache_files/picamera_photos/.gitkeep